/* Login e Registrazione */
.access{
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.access p{
  height: 30px;
  font-family: "Roboto";
}
.access form{
  /*height: 50px;*/
  font-size: 20px;
}
.access h1{
  text-align: center;
}

.header-class{
  display: block;
  height: auto;
  min-height: 10%;
}

/* Toolbar area */

.saluto {
  color: black;
}

.message-class{
  color: #009933;
  font-family: "Arial";
  font-size: 20px;
  text-align: center;
}

.button-font{
  font-size: 20px;
}

.error{
  color: red;
  font-size: 15px;
}

#accessDiv{
  padding:1em;
}

.md-raised .md-cornered{
  background-color: #2E9AFE;
}