.left-menu{
  height: 100%;

}

.right-pres{
  height: auto;
  width: 100%;
}

.slideshows{
	position: relative;
	width: 98%;
	margin-top: 4em;
}
#home{
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 3em;
	overflow: auto;
}

.labelSS{
	float: left;
	width: 30%;
	height: 3em;
	margin-right: 5%;
	text-align: right;
	line-height: 3em;
	overflow: auto;
}