body{  
margin:0; 
overflow-x: hidden;
overflow-y: hidden;
}


#drag-1, #drag-2 {
	position: absolute;

  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.frame { 
	width: 10em; 
	height: 10em; 
	padding: 0.5em; 
	border: 0.25em dotted #ccc;
	position: absolute;
}

.text {
	text-align: center; 
	height: 1em; 
	padding: 0.5em; 
	background-color: none; 
	position: absolute; 
}

.elemento {
	z-index: 0;
}
.resizable {
	width:15em; 
	height:10em; 
	padding: 0.5em; 
	background-color: none;
}

.image{
	background-color: none; 
	position: absolute;
	padding:0;
}
#contextual-menu{
	padding:0.2em;
	min-height: 2.5em;
}

#contextual-menu md-icon{
	margin: 0.2em;
	vertical-align: none;
	height: 1.6em;
	width: 1.6em;
}

#contextual-menu button{
	padding:0;
	width:auto;
	height:auto;
	min-width:0;
	min-height:0;
	font-size:inherit;
}

#contextual-menu .menu{
	padding:0;
	margin: 0;
}
.elementMenu{
	display:none;
    position:relative;
  
}

#rotation{
	display:none;
	position: absolute;
	margin-top: 0;
	height: 3em;
	background-color: rgba(249,249,249,1);
}

#rotation::-webkit-slider-runnable-track{
	width:2em;
}
#rangeRotation{
	margin-top: 1em;
	width:3em;
	}

	.deleteButton{
		opacity: 0;
		position:absolute;
		top:-1.5em;
		left:-1em;
	}
	.bringForwardButton{
		opacity: 0;
		position:absolute;
		top:-1.3em;
		left:0.5em;

		
	}
	.moveBackwardButton{
		opacity: 0;
		position:absolute;
		top:-1.3em;
		left:1.8em;

		
	}

.image{
	padding:0;
}

#backgroundManage, #pathsManage, #insertElement,#slideShowBackgroundManage{
	display:none;
	position: absolute;
	margin-top: 0;
	background-color: rgba(249,249,249,1);
}

.backgroundButton{
display:inline;
}

#textMenu{
	display:none;
}

#imageMenu{
	display:none;
}

#mediaMenu{
	display:none;
}

#slideShowMenu{
	display:block;
}

.colorPicker{
	width:3em;
}

input.autogrow{
	background-color: rgba(0 ,0 ,0, 0);
	position: absolute;
	top: 0.2em;
	left: 0.2em;
}

.inputContainer{
	padding:0;
	margin:0;
}

.droppable{
	height: 20em;
	width: 20em;
	background-color: yellow;
}


  #textMenu, #frameMenu, #imageMenu, #mediaMenu, #standardMenu{
  	
  }

  #slideShowMenu{
      padding-right: 0.4em;
  }
  #standardMenu{
      padding-left: 0.4em;
  }
#barraPercorsi{
    background-color: rgba(255, 255, 255, 0.9);
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; bottom: 0; position: fixed; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

  #fantoccio{
      border: solid black;
  }

  #content{
      padding:0;
      margin-bottom:0;
  }

  .highlighted{
      outline: green dotted thick;
  }

  .spark{
      outline: yellow solid thin;
  }


  