<div class="row" layout="column">
	<div class="col-lg-12">
		<md-content layout-padding style="height: 600px;padding: 24px;">

	<div>
		<md-button class="md-raised md-cornered" ng-click="editProfile = !editProfile">Modifica Profilo</md-button>

		<div ng-show="editProfile">
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
				<form ng-submit="editProfile()">
					<md-input-container>
						<label>Title</label>
						<input ng-model="user.title"/>
					</md-input-container>
					<md-input-container>
						<label>Email</label>
						<input ng-model="user.email" type="email"/>
					</md-input-container>
					<md-button class="md-raised md-cornered" ng-click="editProfile = editProfile">Submit</md-button>
				</form>
			</md-whiteframe>
		</div>
	</div>



	<div>
		<md-button class="md-raised md-cornered" ng-click="editPassword = !editPassword">Cambia Password</md-button>

		<div ng-show="editPassword">
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
				<form ng-submit="changepassword()">
					<md-input-container>
						<label>Password Attuale</label>
						<input ng-model="user.password" type="password"/>
					</md-input-container>
					<md-input-container>
						<label>Nuova Password</label>
						<input ng-model="user.newpassword" type="password"/>
					</md-input-container>
					<md-input-container>
						<label>Conferma Nuova Password</label>
						<input ng-model="user.confnewpassword" type="password"/>
					</md-input-container>
					<md-button class="md-raised md-cornered" ng-click="editPassword = editPassword">Submit</md-button>
				</form>
			</md-whiteframe>
		</div>
	</div>

	<div>
		<md-button class="md-raised md-cornered" ng-click="uploadmedia = !uploadmedia">Upload Elemento</md-button>
		<div ng-show="uploadmedia">
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
				<form id="upload_form">
					
					<input type="file" name="file" onchange="angular.element(this).scope().uploadmedia(this.files)"/>
					
				</form>
			</md-whiteframe>
		</div>
</div>

</md-content>
</div>
</div>
