<!doctype html>
<html  ng-app='premiApp'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Premi</title>
	<!----<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">-->
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/home.css">
	
	<link rel="stylesheet" href="css/access.css">

	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>

	<base href="/index.html">
	
	<!-- SCRIPT DI ANGULAR -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="lib/jquery-ui.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="bower_components/angular-pan-zoom/bin/panzoom.js"></script>
	<script type="text/javascript" src="bower_components/jscolor/jscolor.js"></script>
	<!--<script type="text/javascript" src="bower_components/hamsterjs/hamster.js"></script>
	<script type="text/javascript" src="bower_components/angular-mousewheel/mousewheel.js"></script>
	<script type="text/javascript" src="bower_components/angular-route-scripts/route-scripts.js"></script>-->
	<script type="text/javascript" src="lib/ngStorage.js"></script>
	<script type="text/javascript" src="lib/sha1.js"></script>
	<script type="text/javascript" src="lib/angular-jwt.js"></script>

	<!-- SCRIPT DI PREMI-->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/accessController.js"></script>
	<script type="text/javascript" src="scripts/homeController.js"></script>
	<script type="text/javascript" src="scripts/profileController.js"></script>
	<script type="text/javascript" src="scripts/editController.js"></script>
    <script type="text/javascript" src="scripts/executionController.js"></script>
	<script type="text/javascript" src="scripts/services.js"></script>
	<script type="text/javascript" src="scripts/slideshowelement.js"></script>
	<script type="text/javascript" src="scripts/inserteditremove.js"></script>
	<script type="text/javascript" src="scripts/command.js"></script>
	<script type="text/javascript" src="scripts/translatorImpress.js"></script>
	
	<!-- SCRIPT DEL SERVER-->
	<script type="text/javascript" src="serverRelation/FileServerRelation.js"></script>
	<script type="text/javascript" src="serverRelation/Loader.js"></script>
	<script type="text/javascript" src="serverRelation/MongoRelation.js"></script>
	<script type="text/javascript" src="serverRelation/Authentication.js"></script>
	<script type="text/javascript" src="serverRelation/Registration.js"></script>
	<!--<script type="text/javascript" src="serverRelation/ChangePassword.js"></script>-->

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

</head>
<body layout="column">
	<header data-ng-controller="HeaderController" class="header" id="premiHeader">
		<md-toolbar layout="row" layout-align="space-between center" >
		<!--The left side-->
		<span> <h2 class="md-toolbar-tools"><a ng-href="#/"> Premi </a></h2></span>
		<!--The right side-->
		<span>
			<!--Elementi che si attivano solo se NON connessi-->
			<span class="saluto" data-ng-show="isToken()">Ciao {{who()}}!</span>
			<md-button aria-label="First Button" ng-click="goLogin()" data-ng-hide="isToken()">Accedi</md-button>
			<md-button aria-label="Second Button" ng-click="goRegistrazione()" data-ng-hide="isToken()">Registrati</md-button>

			<!--Elementi che si attivano solo se connessi-->
			<md-button aria-label="Third Button"   data-ng-hide="!isToken()" ng-click="logout()">Logout</md-button>
			<md-button aria-label="Fourth Button"   data-ng-hide="!isToken()" ng-click="goProfile()">Profilo</md-button>
			<md-button aria-label="Fifth Button"   data-ng-hide="!isToken()" ng-click="goHome()">Home</md-button>
		</span>
		</md-toolbar>
		<section class="error">
			<span>{{error()}}</span>
		</section>
	</header>

	<section ng-view layout="row" class="main-body"></section>

	<footer class="footer" id="premiFooter">
		<md-toolbar layout="row" layout-align="space-between center" >
			<div class="footerFloat">
				<p>Progetto di Ingegneria del software 2014/2015</p>
			</div>
			<div class="footerFloat">
				<p>Gruppo LateButSafe <a href="mailto:latebutsafe@gmail.com">latebutsafe@gmail.com</a></p>
			</div>
		</md-toolbar>
	</footer>

</body>
</html>