<div class="row" data-ng-controller="MeCtrl">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">
                <p>{{myDetails.user}}</p>
                <p>{{myDetails.password}}</p>
                <p>{{myDetails.token}}</p> 
                <button type="button" ng-click="">Modifica Profilo</button>
            </div>
        </div>
    </div>
</div>