<!doctype html>
<html lang="it" ng-app="Premi">
<head>
  <meta charset="utf-8">
  <title>Premi</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

  <div>
  <form ng-submit="LoginModalCtrl.submit(_email, _password)">
    <input type="email" ng-model="_email" />
    <input type="password" ng-model="_password" />
    <button>Submit</button>
  </form>
  <button ng-click="LoginModalCtrl.cancel()">Cancel</button>
</div>

</body>
</html>
