<link rel="stylesheet" href="css/jquery-ui.css">
<script type="text/javascript" src="scripts/viewscripts.js"></script>
<md-sidenav id="barraPercorsi" class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open md-closed" md-component-id="left" tabindex="-1" flex>
    <md-list>
        <md-list-item>
            <div print-path></div>
        </md-list-item>


        <md-list-item>

            <md-button id="percorsiScelta" class="menu md-button md-default-theme">
                percorsi scelta
            </md-button>
        </md-list-item>

    </md-list>

    <md-list-item>

        <md-list id="sortable">
            {{stampa()}}
        </md-list>
    </md-list-item>


</md-sidenav>

<div flex layout="column" tabindex="-1" role="main">

    <md-toolbar layout="row" class="md-whiteframe-z2  md-hue-2" id="contextual-menu">
        <md-button class="menu" id="percorsi" ng-click="toggleList()">
            <md-tooltip>Percorsi</md-tooltip>
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>


        <div id="slideShowMenu" class="lock-size" layout="row" layout-align="center center">
            <md-menu md-offset="0 -7">
                <md-button aria-label="Apri menu inserimento elementi" ng-click="$mdOpenMenu()">
                    <md-tooltip>Inserisci elemento</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="inserisciFrame()"> <p md-menu-align-target>Inserisci Frame</p></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="inserisciTesto()"> <p md-menu-align-target>Inserisci Testo</p></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button id="insertImage" class="fileContainer"><p id="insertImageActivator">Inserisci Immagine</p><input multiple type="file" id="imgLoader" name="Inserisci Immagine" /></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button id="insertVideo" class="fileContainer"><p id="insertImageActivator">Inserisci Video</p><input multiple type="file" id="videoLoader" name="Inserisci Video" /></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button id="insertAudio" class="fileContainer"><p id="insertImageActivator">Inserisci Audio</p><input multiple type="file" id="audioLoader" name="Inserisci Audio" /></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

        <div id="standardMenu" class="elementMenu">
            <md-button class="menu md-button md-default-theme" id="rotate" ng-click="show('rotation')">
                <md-tooltip>Ruota</md-tooltip>
                <md-icon md-svg-src="assets/svg/rotation.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>

            </md-button>
            <div id="rotation" class="md-whiteframe-z2" ng-show="rotation"></div>
        </div>
        <div id="textMenu">
            <!--TESTO -->
            <md-input-container class="md-button md-default-theme inputContainer" style="width:3em, height:1em">
                <md-tooltip>Cambia colore testo</md-tooltip>
                <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon><input id="colorText" class="color" />
            </md-input-container>
            <!--TESTO -->
            <!--TESTO -->
            <md-input-container class="md-button md-default-theme inputContainer" style="width:3em height:1em">
                <md-tooltip>Cambia dimensione testo</md-tooltip>
                <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon><input id="textSize" type="number" min="1" max="400">
            </md-input-container>
            <!--TESTO -->
        </div>
        <div id="frameMenu" class="elementMenu">
            <md-button class="menu md-button md-default-theme" id="background" ng-click="show('backgroundManage')">
                <md-tooltip>Gestisci sfondo</md-tooltip>
                <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
            <div id="backgroundManage" class="md-whiteframe-z2" ng-show="backgroundManage">
                <md-button class="menu md-button md-default-theme" id="backgroundFrameEraser"><md-tooltip>Elimina sfondo</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon></md-button>
                <!--<md-button id="loadBackground" md-ink-ripple class="md-button md-default-theme backgroundButton" onclick="loadElementBackground(id)">
                        <md-tooltip>Seleziona sfondo</md-tooltip>
                        <md-icon md-svg-src="assets/svg/delete.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                    </md-button>-->
                <md-input id="colorBackground" md-ink-ripple class="md-button md-default-theme backgroundButton">
                    <!--SFONDO FRAME -->
                    <md-tooltip>Seleziona colore di sfondo</md-tooltip>
                    <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                    <input id="backgroundFrame" class="color colorPicker" />
                </md-input>

                <md-input id="imageFrameBackground" md-ink-ripple class="md-button md-default-theme backgroundButton">
                    <md-tooltip>Seleziona immagine di sfondo</md-tooltip>
                    <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                    <input type="file" id="frameBackgroundLoader" name="Inserisci Immagine" />
                </md-input>
            </div>
            <md-button class="menu md-button md-default-theme" id="addToMainPath" ng-click="show('pathsManage')">
                <md-tooltip>Aggiungi un frame al percorso principale</md-tooltip>
                <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
            <div id="pathsManage" class="md-whiteframe-z2" ng-show="pathsManage">
                <md-button id="addToMain" md-ink-ripple class="md-button md-default-theme backgroundButton">
                    <md-tooltip>aggiungi al percorso principale</md-tooltip>
                    <md-icon md-svg-src="assets/svg/delete.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>

            </div>

            </button>

        </div>
        <div id="mediaMenu" class="elementMenu">
            <md-button class="menu md-button md-default-theme" id="play" ng-click="mediaControl()">
                <md-tooltip>Play</md-tooltip>
                <md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
        </div>
        <div id="imageMenu" class="elementMenu">
        </div>
    </md-toolbar>

    <md-content flex="" id="content" class="md-default-theme" ondblclick="zoomOut()">
        <div id="fantoccio">
            <div id="corner"></div>
            <div>contenuti in mainpath: <span id="mainp"></span></div>
            <div id="percorso">

            </div>
            <div id="frames">
            </div>
            <div id="elements">
            </div>
        </div>
    </md-content>

</div>
<script>


</script>