<link rel="stylesheet" href="css/jquery-ui.css">
<script type="text/javascript" src="scripts/viewscripts.js"></script>
<script type="text/javascript" src="node_modules/autosize/dist/autosize.js"></script>

<md-sidenav id="barraPercorsi" class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open md-closed" md-component-id="left" tabindex="-1" flex>
	<md-list>
		<md-list-item>
			<div print-path></div>
		</md-list-item>
		<md-list-item>
			<div print-choiche-paths></div>
		</md-list-item>

		<md-list-item role="listitem" class="md-no-proxy">
			<div>
				<md-button id="creaPercorsoScelta" class="menu md-button md-default-theme" ng-click="">Crea Percorso Scelta</md-button>
			</div>
		</md-list-item>


		<md-list-item>

			<md-list id="sortable">
				{{stampa()}}
			</md-list>
		</md-list-item>
		<md-list-item>

			<md-list id="choiceList">

			</md-list>
		</md-list-item>
	</md-list>


</md-sidenav>

<div flex layout="column" tabindex="-1" role="main">

	<md-toolbar layout="row" class="md-whiteframe-z2  md-hue-2" id="contextual-menu">
		<md-button class="menu" id="percorsi" ng-click="toggleList()">
			<md-tooltip>Percorsi</md-tooltip>
			<md-icon md-svg-icon="menu"></md-icon>
		</md-button>

		<!--Menu generico delle presentazioni-->
		<div id="slideShowMenu" class="lock-size" layout="row" layout-align="center center">
			<span flex></span>
			<md-button class="menu md-button md-default-theme" aria-label="Salva" ng-click="salvaPresentazione()">
				<md-tooltip>Salva</md-tooltip><md-icon md-svg-src="assets/svg/save.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button>
			<md-button class="menu md-button md-default-theme" aria-label="Annulla" ng-click="annullaModifica()">
				<md-tooltip>Annulla</md-tooltip><md-icon md-svg-src="assets/svg/undoIcon.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button>
			<md-button class="menu md-button md-default-theme" aria-label="Ripristina" ng-click="ripristinaModifica()">
				<md-tooltip>Ripristina</md-tooltip><md-icon md-svg-src="assets/svg/redoIcon.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button>
			<!--Menu di inserimento-->
			
			<md-menu md-offset="0 -7">
				<md-button class="menu md-button md-default-theme" aria-label="Apri menu inserimento elementi" ng-click="$mdOpenMenu()">
					<md-tooltip>Inserisci elemento</md-tooltip><md-icon md-svg-src="assets/svg/insertElementIcon.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<md-button ng-click="inserisciFrame()"> <p md-menu-align-target>Inserisci Frame</p></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="inserisciTesto()"> <p md-menu-align-target>Inserisci Testo</p></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button id="insertImage" class="fileContainer"><p id="insertImageActivator">Inserisci Immagine</p><input multiple type="file" id="imgLoader" name="Inserisci Immagine" onchange="angular.element(this).scope().inserisciImmagine(this.files)"/></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button id="insertVideo" class="fileContainer"><p id="insertVideoActivator">Inserisci Video</p><input multiple type="file" id="videoLoader" name="Inserisci Video" onchange="angular.element(this).scope().inserisciVideo(this.files)"/></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button id="insertAudio" class="fileContainer"><p id="insertAudioActivator">Inserisci Audio</p><input multiple type="file" id="audioLoader" name="Inserisci Audio" onchange="angular.element(this).scope().inserisciAudio(this.files)"/></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button id="esegui" ng-click="goExecute()"><p id="eseguiPresentazione">Esegui Presentazione</p></md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			
			<!--Menu di inserimento-->
			<!--Menu di gestione sfondo-->
			<md-menu md-offset="0 -7">
				<md-button aria-label="Apri menu gestione sfondo" class="menu md-button md-default-theme" ng-click="$mdOpenMenu()" id="sfondoSlideshow">
					<md-tooltip>Gestisci sfondo presentazione</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<md-button aria-label="Cambia colore sfondo" class="colorContainer" id="slideshowColor"><p>Cambia colore sfondo</p><input type="color" ng-model="backcolor" ng-change="cambiaColoreSfondo(backcolor)"/>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button id="backgroundEraser" ng-click="rimuoviSfondo()"><p>Elimina Sfondo Presentazione</p></md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button aria-label="Cambia immagine di sfondo" id="slideshowImage" class="fileContainer"><p>Scegli Immagine di Sfondo</p><input type="file" onchange="angular.element(this).scope().cambiaImmagineSfondo(this.files)"/>
						</md-button>
					<!-- onchange="backgroundReadURL(this, 'fantoccio');"-->
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!--Menu di inserimento-->
		</div>
		<!--Menu generico delle presentazioni-->
		<!--Menu generico degli elementi-->
        <div id="standardMenu" class="elementMenu lock-size" layout="row" layout-align="center center">
            <md-button aria-label="Elimina elemento" class="menu md-button md-default-theme" ng-click="rimuoviElemento()" id="deleteElement">
                <md-tooltip>Elimina elemento</md-tooltip>
                <md-icon md-svg-src="assets/svg/delete.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
            <md-button aria-label="Porta avanti" class="menu md-button md-default-theme" ng-click="portaAvanti()" id="deleteElement">
                <md-tooltip>Porta avanti</md-tooltip>
                <md-icon md-svg-src="assets/svg/bringfront.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
            <md-button aria-label="Porta dietro" class="menu md-button md-default-theme" ng-click="portaDietro()" id="deleteElement">
                <md-tooltip>Porta dietro</md-tooltip>
                <md-icon md-svg-src="assets/svg/bringback.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
            </md-button>
            <!--Menu delle rotazioni-->
            <md-menu md-offset="0 -7">

                <md-button aria-label="Ruota elemento" class="menu md-button md-default-theme" ng-click="$mdOpenMenu()" id="rotate">
                    <!--QUESTO NON PUÒ ANDARE QUI PERCHÈ RIGUARDA SOLO IL BUTTON PER APRIRE IL MENU: setRotation(getRotationDegrees($('#'+active().getId())))-->
                    <md-tooltip>Ruota</md-tooltip>
                    <md-icon md-svg-src="assets/svg/rotation.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-input-content>
                            <md-button>
                                <input id="rangeRotation" type="range" min="0" max="360" step="1" ng-model="elementRotation" ng-change="ruotaElemento(elementRotation)" aria-label="Ruota l'elemento" />
                            </md-button>
                        </md-input-content>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>

		<!--Menu generico delle presentazioni-->
		<div id="textMenu">
			<!--TESTO -->
            <md-button aria-label="Cambia colore testo" class="menu md-button md-default-theme" id="textColor">
                <md-tooltip>Cambia colore testo</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme" onclick="document.getElementById('colorText').click()"></md-icon><input style="border:0; height: 0; width: 0; padding: 0; margin: 0;" type="color" ng-model="textColor" id="colorText" ng-change="cambiaColoreTesto(textColor)" />
            </md-button>

			<!--TESTO -->
			<!--TESTO -->




            <md-menu md-offset="0 -7">
                <md-button aria-label="Apri menu per cambiare dimensione del testo" class="menu md-button md-default-theme" ng-click="$mdOpenMenu()" id="sizeText">
                    <md-tooltip>Menu dimensione del testo</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item id="textSizeMenu">
                        <md-button aria-label="Cambia colore sfondo" class="colorContainer" id="slideshowColor">
                            <md-input-container class="md-button md-default-theme inputContainer" style="width:3em">
                                <md-tooltip>Cambia dimensione testo</md-tooltip><input id="textSize" type="number" min="1" max="70" value="1" aria-label="Cambia le dimensioni del tuo testo" ng-model="size" ng-change="cambiaSizeTesto(size)">
                            </md-input-container>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

            <md-menu md-offset="0 -7">
                <md-button aria-label="Apri menu per cambiare dimensione del testo" class="menu md-button md-default-theme" ng-click="$mdOpenMenu()" id="sizeText">
                    <md-tooltip>Menu font testo</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item id="textSizeMenu">
                        <md-input-container class="md-button md-default-theme inputContainer" style="width:3em height:1em">
                            <md-tooltip>Cambia font testo</md-tooltip>
                            <md-select ng-model="fontSelected" id="changeFont" ng-change="cambiaFontTesto(fontSelected)" aria-label="Scegli il tuo font">
                                <md-option ng-repeat="font in allFonts track by $index" value="{{font.value}}" style="font-family: {{font.value}}" ng-selected="setSelectedFont(font.value)">{{font.descr}}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

			<!--TESTO -->
		</div>
		<div id="frameMenu" class="elementMenu">


            <md-menu md-offset="0 -7">
                <md-button aria-label="Apri menu gestione sfondo" class="menu md-button md-default-theme" ng-click="$mdOpenMenu()" id="background">
                    <md-tooltip>Gestisci sfondo frame</md-tooltip><md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button aria-label="Cambia colore sfondo" class="colorContainer" id="slideshowColor">
                            <p>Cambia colore sfondo</p><input type="color" id="backgroundFrame" ng-model="sfondoframe" ng-change="cambiaColoreSfondoFrame(sfondoframe)" />
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button id="backgroundEraser" ng-click="rimuoviSfondoFrame()"><p>Elimina Sfondo Frame</p></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button aria-label="Cambia immagine di sfondo" id="slideshowImage" class="fileContainer">
                            <p>Scegli Immagine di Sfondo</p><input type="file" id="frameBackgroundLoader" name="Inserisci Immagine" onchange="angular.element(this).scope().cambiaImmagineSfondoFrame(this.files)"/>
                        </md-button>
                        <!-- onchange="backgroundReadURL(this, 'fantoccio');"-->
                    </md-menu-item>
                </md-menu-content>
            </md-menu>







			<md-menu md-offset="0 -7">
				<md-button aria-label="Aggiungi al percorso principale" class="menu md-button md-default-theme" id="addToMainPath" ng-click="$mdOpenMenu()">
					<md-tooltip>Aggiungi a un percorso</md-tooltip>
					<md-icon md-svg-src="assets/svg/addmainpath.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<md-button id="addToMain" md-ink-ripple class="md-button md-default-theme backgroundButton" ng-click="aggiungiMainPath()">
							<p md-menu-align-target>Aggiungi frame al percorso principare</p>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</div>
		<div id="mediaMenu" class="elementMenu">
			<md-button class="menu md-button md-default-theme" id="play" ng-click="mediaControl()">
				<md-tooltip>Play</md-tooltip>
				<md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button>
		</div>
		<div id="imageMenu" class="elementMenu">
		</div>

		
		
		
	</md-toolbar>

	<!-- <md-button class="menu md-button md-default-theme" id="undo" ng-click="annullaModifica()">
				<md-tooltip>Annulla modifica</md-tooltip>
				<md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button>
			<md-button class="menu md-button md-default-theme" id="redo" ng-click="ripristinaModifica()">
				<md-tooltip>Ripristina modifica</md-tooltip>
				<md-icon md-svg-src="assets/svg/background.svg" class="ng-scope ng-isolate-scope md-default-theme"></md-icon>
			</md-button> -->

	<md-content flex="" id="content" class="md-default-theme">

			<div id="corner"></div>
			<!--<div>contenuti in mainpath: <span id="mainp"></span></div>-->
			<div id="percorso">

			</div>
		<!--	<panzoom config="config" model="model" style="width:1300px; height: 800px"> -->

			<div id="frames">
			</div>
			<div id="elements">
			</div>

	</md-content>

</div>
<script>


</script>