<div id="home" class="col-12 home">
<div layout="column" class="col-4 left-menu" layout-align="space-around center">
	<md-button class="md-raised md-cornered" ng-click="newSS = !newSS">Nuova Presentazione</md-button>
	<div ng-show="newSS">
		<md-whiteframe class="md-whiteframe-z1" layout-align="center center">
			<label>Nome</label>
			<input ng-model="slideshow.name"/>
			<md-button class="md-raised md-cornered submit" ng-click="createSlideShow()">Submit</md-button>
		</md-whiteframe>
	</div>
</div>

<div layout="row" class="col-8 right-pres">
	<dl class="slideshows">
		<dd ng-repeat="slide in getSS() track by $index | limitTo: display_limit" class="slide">
			<md-button class="md-raised md-cornered submit" ng-click="goEdit(slide._id)">Edit</md-button>
			<md-button class="md-raised md-cornered submit" ng-click="goExecute(slide._id)">Esegui</md-button>
			<md-button class="md-raised md-cornered submit" ng-click="deleteSlideShow(slide._id)">Elimina</md-button>
			<md-button class="md-raised md-cornered submit" ng-click="renameSlideShow(slide._id)">Rinomina</md-button>
			<md-button class="md-raised md-cornered submit" ng-click="salvaManifest(slide._id)">Salva</md-button>
			<span  ng-bind="slide._id"></span>
			<span  ng-bind="slide.meta.name"></span>

		</dd>
	</dl>
</div></div>