<div id="home">
    <div layout="column" class="col-4 left-menu" layout-align="space-around center">
        <md-button class="md-raised md-cornered" ng-click="newSlideShow($event)">Nuova Presentazione</md-button>
    </div>

    <div layout="row" class="right-pres">
        <dl class="slideshows">
            <dd ng-repeat="slide in getSS() | limitTo: display_limit | orderBy:'-titolo':true" class="slideSS">
                <span class="labelSS" ng-bind="slide.titolo"></span>
                <div class="backgroundSS" ng-style="setStyleSS(slide)"></div>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="goEdit(slide.titolo)">Edit</md-button>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="goExecute(slide.titolo)">Esegui</md-button>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="deleteSlideShow(slide.titolo, $event)">Elimina</md-button>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="renameSlideShow(slide.titolo, $event)">Rinomina</md-button>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="salvaManifest(slide.titolo)">Salva</md-button>
                <md-button class="btnSS md-raised md-cornered submit" ng-click="deleteManifest(slide.titolo)">Rimuovi</md-button>
            </dd>
        </dl>
    </div>

</div>