<div class="profile" layout="column">
	<md-content>

	<div>
		<md-button class="md-raised md-cornered" ng-click="editPassword = !editPassword">Cambia Password</md-button>

		<div ng-show="editPassword">
			<md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
				<form ng-submit="changepassword()">
					<md-input-container>
						<label>Password Attuale</label>
						<input ng-model="user.password" type="password"/>
					</md-input-container>
					<md-input-container>
						<label>Nuova Password</label>
						<input ng-model="user.newpassword" type="password"/>
					</md-input-container>
					<md-input-container>
						<label>Conferma Nuova Password</label>
						<input ng-model="user.confnewpassword" type="password"/>
					</md-input-container>
					<md-button class="md-raised md-cornered" ng-click="editPassword = editPassword">Submit</md-button>
				</form>
				<span class="message-class" ng-bind="message"></span>
			</md-whiteframe>
		</div>
	</div>
</md-content>
</div>
